<section class="slider slider-1">
    <div class="container">
        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">Slide 1</div>
                <div class="swiper-slide">Slide 2</div>
                <div class="swiper-slide">Slide 3</div>

                <div class="swiper-slide">Slide 11</div>
                <div class="swiper-slide">Slide 22</div>
                <div class="swiper-slide">Slide 33</div>

                <div class="swiper-slide">Slide 111</div>
                <div class="swiper-slide">Slide 222</div>
                <div class="swiper-slide">Slide 333</div>
           
            </div>
            <!-- If we need pagination -->
            <ul class="swiper-pagination"></ul>

            <!-- If we need navigation buttons -->
            <button class="swiper-button-prev"></button>
            <button class="swiper-button-next"></button>


        </div>
    </div>
</section>